.p-navbar, .p-a-navbar {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &.p-navbar-shrink, &.p-navbar-small {
    min-height: 50px;
      -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
    .brand-kiss {
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        height: 40px;
      img {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        height: 40px;

      }
    }

    .navbar-toggle {
      margin: 7px 10px 0;
    }
    .brand-kiss {
      margin-left: 10px;
    }

    .p-navbar-nav.navbar-nav > li > a {
      height: 50px;
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      padding-top: 13px;
      padding-bottom: 12px;
      text-align: center;
    }
  }
  .brand-kiss {
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        height: 60px;
      img {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        height: 70px;
      }
    }

}

.p-navbar-nav.navbar-nav  {
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  > li {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    > a {
          -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    }
  }
}

@bluejeans-dark: #4A89DC;
@bluejeans-light: #5D9CEC;

@aqua-dark: #3BAFDA;
@aqua-light: #4FC1E9;

@mint-dark: #37BC9B;
@mint-light: #48CFAD;

@grass-dark: #8CC152;
@grass-light: #A0D468;

@sunflower-dark: #F6BB42;
@sunflower-light: #FFCE54;

@bittersweet-dark: #E9573F;
@bittersweet-light: #FC6E51;

@grapefruit-dark: #DA4453;
@grapefruit-light: #ED5565;

@lavender-dark: #967ADC;
@lavender-light: #AC92EC;

body{
  display:none;
}
#jpreOverlay {
  background: linear-gradient(#48CFAD, #37BC9B);
}
#jpreSlide{
  font-size:22px;
  font-weight:bold;
  color:#ccc;
  text-align:center;
  width:50%;
  height:30%;
}
#jpreLoader{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: 25px;
  border-radius: 10px;
}

#jpreBar {
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;

  background-size:30px 30px;
  -moz-background-size:30px 30px;
  -webkit-background-size:30px 30px;
  -o-background-size:30px 30px;

  // box-shadow:
  //     0 5px 5px rgba(255,255,255,0.6) inset,
  //     0 -5px 7px rgba(0, 0, 0, 0.4) inset;
  //  -moz-box-shadow:
  //     0 5px 5px rgba(255,255,255,0.6) inset,
  //     0 -5px 7px rgba(0, 0, 0, 0.4) inset;
  //  -webkit-box-shadow:
  //     0 5px 5px rgba(255,255,255,0.6) inset,
  //     0 -5px 7px rgba(0, 0, 0, 0.4) inset;

  background-color: #48CFAD;
  background-image: -moz-linear-gradient(-45deg,
    rgba(255,255,255,0.15) 0%,
    rgba(255,255,255,0.15) 25%,
    rgba(255,255,255,0) 25%,
    rgba(255,255,255,0) 50%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0.15) 75%,
    rgba(255,255,255,0) 75%,
    rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(0%,rgba(255,255,255,0.2)),
    color-stop(25%,rgba(255,255,255,0.2)),
    color-stop(25%,rgba(255,255,255,0)),
    color-stop(50%,rgba(255,255,255,0)),
    color-stop(50%,rgba(255,255,255,0.2)),
    color-stop(75%,rgba(255,255,255,0.2)),
    color-stop(75%,rgba(255,255,255,0)),
    color-stop(100%,rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(-45deg,
    rgba(255,255,255,0.3) 0%,
    rgba(255,255,255,0.3) 25%,
    rgba(255,255,255,0) 25%,
    rgba(255,255,255,0) 50%,
    rgba(255,255,255,0.3) 50%,
    rgba(255,255,255,0.3) 75%,
    rgba(255,255,255,0) 75%,
    rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(-45deg,
    rgba(255,255,255,0.15) 0%,
    rgba(255,255,255,0.15) 25%,
    rgba(255,255,255,0) 25%,
    rgba(255,255,255,0) 50%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0.15) 75%,
    rgba(255,255,255,0) 75%,
    rgba(255,255,255,0) 100%);
  background-image: linear-gradient(135deg,
    rgba(255,255,255,0.15) 0%,
    rgba(255,255,255,0.15) 25%,
    rgba(255,255,255,0) 25%,
    rgba(255,255,255,0) 50%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0.15) 75%,
    rgba(255,255,255,0) 75%,
    rgba(255,255,255,0) 100%);

  animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -webkit-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  -o-animation: progress 2s linear infinite;
}
#jprePercentage {
  color:#ccc;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  top: -100%;
  font-family: Helvetica, Arial, sans-serif;
}

#jpreButton{
  padding:3px 10px;
  cursor:pointer;
  font-weight:bold;
  line-height:1.5;
  text-align:center;
  width:100px;
  margin:0 auto;
  color:#fff;
  text-shadow:-1px -1px 0 #01293F;
  border:1px solid #2EACEA;

  border-radius:30px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;

  background-color: #48CFAD;
  background-image: linear-gradient(to bottom, #48CFAD 0%,#37BC9B 100%);
}

@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}

