<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
<!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->
<!--[if IE 8]>
    <html class="no-js lt-ie9">
      <![endif]-->
<!--[if gt IE 8]>
      <!-->
<html class="no-js" ng-app="kissApp">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KISS - Keep it Simple Silly.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/
    css'>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>

<body ng-controller='kissController' ng-clock>
    <!--[if lt IE 7]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong>
          browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a>
          to improve your experience.
        </p>
        <![endif]-->

    <section class="container-fluid">
        <header class="js_header">
            <nav class="navbar navbar-default navbar-fixed-top p-navbar" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand-kiss" href="#">
                            <img src="images/brand.png" alt="Brand">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right p-navbar-nav">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li>
                                <a href="#testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a href="#works">Works</a>
                            </li>
                            <li>
                                <a href="#media">In Media</a>
                            </li>
                            <li>
                                <a href="#team">Our Team</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="js_slide">

<div id="slides">
  <ul class="slides-container">

    <li>
      <img src="images/slider/1.jpg" alt="">
      <div class="container">
        <div class="slide-content animated bounceInDown  js_slide_cont">
          <h1 class="animated bounceInDown">Welcome !!!</h1>
          <div class="">
            <h2 class='nmt'>to the KissStore..</h2>
            <img src="images/landing-kiss.png" alt="" class="preserve">
          </div>
          <div class="foot animated bounceInDown">
          <em class="icon-arrow-down tada animated infinite delay"></em>
          <p>Scroll down</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="images/slider/2.jpg" alt="">
      <div class="container">
        Slide three
      </div>
    </li>
    <li>
      <img src="images/slider/3.jpg" alt="">
      <div class="container">
        Slide three
      </div>
    </li>
    <li>
      <img src="images/slider/0.jpg" alt="">
      <div class="container">
        Slide one
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
    <a href="#" class="next"><i class="icon-uniE614"></i></a>
    <a href="#" class="prev"><i class="icon-arrow-left3"></i></a>
  </nav>
</div>


        </section>
        <section class="layer about" id="services">
            <div class="container">
                <h2 class='h'>What we do?</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h4>Customization</h4>
                        <div class="card-img custom"></div>
                        <p class='card-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Explosion box cards</h4>
                        <div class="card-img box"></div>
                        <p class='card-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h4>Diaries</h4>
                        <div class="card-img diaries"></div>
                        <p class='card-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4>Posters</h4>
                        <div class="card-img poster"></div>
                        <p class='card-description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                    </div>
                </div>
            </div>
        </section>
        <section class="layer testimonials" id="testimonials">
            <div class="container">
                <h2 class='h'>What people said?</h2>
                <br>
                <div class="row">
                    <div class="col-md-6" ng-repeat="testimonial in testimonials">
                        <div class="testimonial">
                            <img ng-src="{{testimonial.avatar}}" alt="" class="test-img">
                            <div class="test-content">
                                <div class="test-desc">
                                    <h4 class='nmt'>{{testimonial.name}}</h4>
                                    <p>{{testimonial.content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </section>
        <section class="layer works" id="works">
            <div class="container">
                <h2 class='h'>What we did?</h2>
                <div class="filters">
                    <button class="filter btn btn-success custom-button js_custom" data-filter="all">All</button>
                    <button class="filter btn btn-success custom-button" data-filter=".kiss-custom">Custom</button>
                    <button class="filter btn btn-success custom-button" data-filter=".poster">Posters</button>
                </div>
                <div class="row">
                    <div id="container">
                        <div class="mix work col-md-4 col-sm-6 all" ng-repeat='work in works' ng-class='work.category'>
                            <img class="img-responsive" ng-src="{{work.img_src}}" alt="{{work.name}}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layer media" id="media">
          <div class="container">
          <h2 class="h">Media &amp; Press</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="mediacover-box">
                <h4>E-MINGLE magazine</h4>
                <img src="images/media/1.jpg" alt=""  class="img-responsive">
                <a href="http://maz.entrepreneursmingle.com/blog/2013/12/29/8222/">Interview with team “KISS” – Keep It Simple Silly!</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mediacover-box">
                <h4>Eenadu</h4>
                <img src="images/media/2.jpg" alt=""  class="img-responsive">
              </div>
            </div>


          <div class="col-md-4">
              <div class="mediacover-box">
                <h4>The Hindu</h4>
                <img src="images/media/3.jpg" alt="" class="img-responsive">
                <a href="http://www.thehindu.com/news/cities/Vijayawada/going-places-with-greeting-cards/article5919697.ece">Going places with greeting cards</a>
              </div>
            </div>
          </div>

          </div>
          </div>
        </section>
        <section class="layer team" id="team">
          <div class="container">
          <h2 class="h">Our Team</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="contact-card">
                <img src="images/jharna.jpg" alt="">
                <h4>Jharna Makhija</h4>
                <a href="https://www.facebook.com/jharna.makhija" target="_blank">jharna.makhija</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-card">
                <img src="images/chaitra.jpg" alt="">
                <h4>Chaitra Prasad</h4>
                <a href="https://www.facebook.com/chaitra.prasad.1" target="_blank">chaitra.prasad.1</a>
              </div>

            </div>
          </div>
          </div>
        </section>
        <section class="layer contact" id='contact'>
          <div class="container">
          <h2 class="h">Contact</h2>
          </div>
        </section>

        <footer></footer>
    </section>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!-- build:js scripts/main.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/mixitup/build/jquery.mixitup.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/jquery.superslider.js"></script>
    <script src="scripts/animated.header.js"></script>
    <script src="bower_components/jquery-waypoints/waypoints.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/vendor/bootstrap.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap/js/carousel.js"></script>
    <script src="bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->
</body>

</html>
